

.work {
  background-color:$priority-bg-color;
  padding-top: 0;
  
@media screen and (max-width:1199px) {
  display: none; 
}
 @media screen and (min-width: $desktop){
  display: flex;
 }

}

.work__list {
  @extend %list;
  position: relative;
  display: flex;
  gap: 30px;
}

.work__img {
  display: block;
}

.work__box {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $second-text-color;
}

