.feature {
  padding-left: 0;
  padding-right: 0;
  background-color:$priority-bg-color;
}

.feature__list {
  @extend %list;
  
  @media screen and (min-width:$tablet){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}