.address-box{
  @extend %list;
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width:$desktop){
   text-align: start;
   margin-bottom: 0; 
  }
}

.address-box__link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: $time-function;
  transition-timing-function: $time-function;

  &:focus,
  &:hover {
  color: $accent-color;
    }
}

.fact-address {
  display: inline-block;
  margin-bottom: 9px;
  color: #ffffff;
}

.mail {
  display: block;
  margin-bottom: 9px;
}

.tel {
  display: block;
}