.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color:$footer-bg-color;
}

.footer-box {

  @media screen and (min-width:$tablet){
   display: flex;
   flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around; 
  }


}