.contact {
  @extend %list;
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
  gap: 32px;
  // margin-left: 96px;
  margin-bottom: 64px;

  @media screen and (min-width:$tablet){
    flex-direction: column;
    margin-bottom: 0;
    gap: 10px;
    margin-left: 96px;
  }
 @media screen and (min-width:$desktop) {
   flex-direction: row;
   justify-content: center;
   margin-bottom: 0;
  margin-left: 315px;
   gap: 30px;
 }

  }


.contact__item {
  display: block;
  // align-items: center;
  // justify-content: center;
}

.contact__link {
  display: flex;
  align-items: center;
  // padding-top: 5px;
  // padding-bottom: 5px;
  color: $text-color;
  // text-decoration: none;
  // font-style: normal;
 

  transition-property: color;
  transition-duration: $time-hover;
  transition-timing-function: $time-function;

  &:hover,
  &:focus,
  &:hover .contact__icon,
  &:focus .contact__icon {
    color: $accent-color;
    fill: $accent-color;
  }
}

.header-link-tel{
  font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accent-color;

    @media screen and (min-width:$tablet){
font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $text-color;
    }
}

.header-link-mail{
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;

@media screen and (min-width:$tablet){
font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
}

.contact__icon {
  display: none;
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: rgba(117, 117, 117, 1);

  transition-property: fill;
  transition-duration: $time-hover;
  transition-timing-function: $time-function;

  @media screen and (min-width:$tablet){
   display: flex; 
   align-items: center;
  }
}

.header-mail {
  width: 14px;
  height: 10px;
}

.header-tel {
  width: 10px;
  height: 14px;
}
