.header {
  background-color: $priority-bg-color;
  border-bottom: 1px solid #ececec;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}





