.buttons-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  row-gap: 15px;
  column-gap: 8px;

  @media screen and (min-width:$tablet){
    justify-content: center;
    margin-bottom: 30px;
  }

    @media screen and (min-width:$desktop) {
    }
  
}

.buttons-list__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  height: 38px;
  background: $accent-bg-color;

  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $priority-title-color;

  transition-property: background-color, color;
  transition-duration: $time-hover;
  transition-timing-function: $time-function;

&:hover, &:focus {
    background: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: $second-text-color;
  }
}

