.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  align-items: center;
  text-align: center;
  background-color: $hero-bg;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/adapt/hero/herom-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adapt/hero/herom-bg@2x.jpg)
    }
  }

@media screen and (min-width:$tablet){
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/adapt/hero/herot-bg.jpg);
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adapt/hero/herot-bg@2x.jpg)
    }
  }

    @media screen and (min-width:$desktop) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/adapt/hero/herod-bg.jpg);
  
      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        & {
          background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adapt/hero/herod-bg@2x.jpg)
        }
      }

}



  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.section__title--main {
  margin-bottom: 30px;
  padding-right: 45px;
  padding-left: 45px;
  font-weight: 900;

  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $second-text-color;

  @media screen and (min-width: $tablet) {
    padding-right: 189px;
    padding-left: 189px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}

}